body {
    background-color: #D6CEBA;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change to column layout */
}

.header {
    background-color: #39241B;
    padding: 10px;
}

.header h1 {
    font-size: 75px;
    color: #D6CEBA;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #39241B;
    margin: 5px;
    padding: 10px;
    line-height: 85px; /* Adjust line height to match font size */
}

.table-container h2 {
    font-size: 50px;
    color: #39241B;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px;
    padding: 10px;
}


.container {
    margin-left: 60px;
    display: flex;
    flex-direction: row; /* Arrange containers horizontally */
    justify-content: space-between; /* Add space between containers */
}

.table-container {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc; /* Add border for visualization */
    margin: 10px; /* Add margin for spacing */
}




button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 750;
    font-size: 16px;
    padding: 6px 12px;
    transition: transform 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #422800;
    color: #fbeee0;
    transform: scale(1.05);
}

button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
