body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #faf6f6;
    display: flex;
}

.fixed-header {
    position: fixed;
    top: 0;         
    left: 0;        
    width: 100%;    
    background-color: #024033;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.headerContainer { 
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.headerPic {
    height: 100%;
    width: auto;
    max-height: 75px;
}
.cartPic {
    height: 40px;
    width: auto;
    max-height: 50px;
}
.searchPic {
    height: auto;
    width: auto;
    max-height: 25px;
}
.search-form {
    display: flex;
    margin-right: 20px;
}

.search-form input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    width: 600px;
    height: 30px;

}

.search-form button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #45a049;
}

.fixed-header nav {
    margin-right: 20px;
}

.fixed-header nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px 10px;
}

.fixed-header nav a:hover {
    background-color: #555;
    border-radius: auto;
}