body{
    background-color: #D6CEBA;
}
.headerIntro{
    font-size: 100px; 
    color: #D6CEBA; 
    background-color: #39241B;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    display: inline;
    margin: 10px;
    padding: 10px;
}

.header2Intro{
    font-size: 50px;
    color: #D6CEBA;
    background-color: #D6CEBA;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: #39241B;
    margin: 5px;
    padding: 10px;
}



.menuButton {
    margin-top: 250px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 750;
    font-size: 70px;
    padding: 0 70px;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .menuButton:hover {
    transform: scale(1.05);;
  }
  
  .menuButton:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  .div1{
    margin: 10px;
    text-align: center;
    float:left;
  }
  .div2{
    margin: 10px;
    text-align: center;
  }


  .logo1{
    margin-right: 100px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: right;
  }

  .dot img {
    border: 2px solid #D6CEBA;
    border-radius: 30px;
    box-shadow: #39241B 4px 4px 0 0;
    width: 300px;
    height: 480px;
}
.dot img:hover{
    transform: scale(1.05);
}

.containerMenu{
    display: flex;
    justify-content: space-evenly;

}
.containerTakeOut {
    margin-top: -250px;
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color: #D6CEBA;
    display: none;
    position: absolute;
    background-color: #422800;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    padding: 10px;
    margin: 0;
}

/* Add this CSS to your styles.css file */

/* Newspaper style for dropdown content */
.dropdown-content ul {
    column-count: 3; /* Adjust the number of columns as needed */
    column-gap: 40px; /* Adjust the gap between columns as needed */
    padding-left: 20px; /* Add left padding to align the text properly */
}

.dropdown-content ul li {
    margin-bottom: 10px; /* Add space between list items */
    padding-left: 10px; /* Add left padding for indentation */
    border-left: 2px solid #ccc; /* Add left border for newspaper style */
}

.dropdown-content ul li:last-child {
    margin-bottom: 0; /* Remove margin for the last list item */
}

/* Hover effect */
.dropdown-content ul li:hover {
    transform: scale(1.05);; /* Change background color on hover */
}

.takeOutButton {
    width: 500px;
    margin-top: 250px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 750;
    font-size: 40px;
    padding: 0 70px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .takeOutButton:hover {
    transform: scale(1.05);
  }
  
  .takeOutButton:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  .containerDineIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.containerDineIn > div {
    margin: 10px;
    text-align: center;
}

.containerDineIn img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.containerDineIn img:hover {
    transform: scale(1.05);
}


.foodDescription {
    font-size: 14px;
    margin-top: 5px;
}

.quantitySelector button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 3px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    font-weight: 750;
    font-size: 16px;
    padding: 6px 12px;
    transition: transform 0.3s ease;
}

.quantitySelector button:hover {
    background-color: #422800;
    color: #fbeee0;
    transform: scale(1.05);
}

.quantitySelector button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}


.decrement {
    float: left;
    margin-right: 5px;
}

.increment {
    float: right;
    margin-left: 5px;
}

.quantitySelector {
    display: flex;
    align-items: center;
}

.quantity {
    /* Add your styles for the quantity here */
    font-size: 16px;
    width: 30px; /* Adjust width as needed */
    text-align: center;
}

.totalAmount {
    font-weight: bold;
    margin-top: 10px;
}

.loginIntro{
    font-family: 'Roboto Condensed', sans-serif;
    color: #D6CEBA; 
    background-color: #39241B;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.login-container {
    
    width: 300px;
    margin: 100px;
    margin-right: 500px auto;
    padding: 20px;
    background-color: #fbeee0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float:right;
    
}

.hIntro{
    font-size: 70px; 
    color: #D6CEBA; 
    background-color: #39241B;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    display: inline;
    margin: 10px;
    padding: 10px;
}

.h2Intro{
    font-size: 35px;
    color: #D6CEBA;
    background-color: #D6CEBA;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: #39241B;
    margin: 5px;
    padding: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #422800;
}

input[type="text"]{
    width: 90%;
    padding: 8px;
    border: 2px solid #422800;
    border-radius: 3px;

}
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #422800;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 3px;
    box-shadow: #422800 4px 4px 0 0;
    cursor: pointer;
    display: inline-block;
}
.button2{
    width: 240px;
    padding: 10px;
    background-color: #422800;
    border: 2px solid #fbeee0;
    border-radius: 3px;
    box-shadow: #fbeee0 4px 4px 0 0;
    cursor: pointer;
    display: inline-block;
    color: #fbeee0;
}

button:hover {
    background-color: #fbeee0;
}

.error-message {
    color: #ff0000;
}



header {
    background-color: #39241B;
    color: #D6CEBA;
    padding: 20px;
    text-align: center;
}

header a {
    color: #D6CEBA;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.reports-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fbeee0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #D6CEBA;
    text-align: left;
}

th {
    background-color: #39241B;
    color: #D6CEBA;
}

a {
    color: #422800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.drinkOption {
    margin-top: 100px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 750;
    font-size: 70px;
    padding: 0 70px;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .tableNumberContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Ensures the left and right halves are at opposite ends */
    background-color: #fbeee0;
    border-top: 5px solid #422800;
    padding: 10px;
    margin-left: 50px;
}

#orderForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right side */
    padding: 0%;
}

.submitOrderButton {
    width: 200px;
    margin-top: 10px;
    background-color: #422800;
    border: 2px solid #fbeee0;
    border-radius: 5px;
    color: #fbeee0;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.submitOrderButton:hover {
    background-color: #5e3c2a;
}

.submitOrderButton:active {
    box-shadow: none;
    transform: translateY(2px);
}

.food-page .containerDineIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    max-height: 600px;
    overflow: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    margin-right: 10px;
}

.left-half {
    flex: 1;
    display: flex;
    padding-left: 60px;
    flex-direction: column-reverse;
}

.right-half {
    display: fixed;
    flex-direction: column-reverse; /* Items will be added from top to bottom */
    align-items: flex-end; /* Align items to the right side */
    padding-right: 10px; /* Add some padding to the right side */
}
.reduce-button,
.delete-button {
    text-align: center;
    padding: 5px; /* Adjust the padding as needed */
    width: 20px;
    margin-left: 5px;
}

.sidebar {
    width: 50px; /* Initial width */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; /* Extend to bottom */
    background-color: #422800;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s; /* Smooth transition */
}
/* Expand the sidebar on hover */
.sidebar:hover {
    width: 250px; /* Expanded width on hover */
}
.sidebar button {
    margin-bottom: 10px;
    margin-right: 20px;
    visibility: hidden; /* Hide buttons by default */
}

.sidebar:hover button {
    visibility: visible; /* Display buttons when sidebar is hovered */
}

.billOut {
    color: #D6CEBA ;
    background-color: #39241B;
    width: 600px;
    height: 550px;
    margin: 0 auto; /* Center the container horizontally */
    position: relative; /* Make the container relative for the absolute positioning of the button */
    padding: 10px;
}

.billOut button {
    font-weight: bold;
    position: absolute; /* Use absolute positioning */
    bottom: 10px; /* Place the button near the bottom with a margin */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Adjust the button's position to center it */
    width: 200px;
    height: 50px;
}


